@import './css/reset.css';
@import './css/global.css';

  html,
  body {
    height: 100%;
  }
  .header {
    display: flex;
    width: 100%;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0px 150px;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex: 0 0 auto;
    border:1px solid red;
    width: 100%;
    height: 100px;
  }
  .header__logo {
    display: flex;
    align-items: center;

  }
  .header__logo-img {
    margin-right: 10px;
  }
  .header__logo-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.7px;
}
  .header__menu-list {
    display: flex;
    gap: 40px;
  }
  .header__menu-list-item a {
    text-decoration: none;
    color: #4F5665;
    font-weight: 400;
    font-size: 16px;    
  }
  .header__buttons-item--sign-in {
    font-weight: 500;
    font-size: 16px;
    border: 0;
    padding: 0;
    margin-right: 30px;
    background-color: transparent;
    cursor: pointer;
  }
  .buttons-item--transparent-red {
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    color: #F53855;
    border:  1px solid #F53855;
    border-radius: 50px;
    padding: 13px 45px;
    cursor: pointer;
    transition: 0.2s;
  }

  .buttons-item--transparent-red:hover {
    box-shadow: 0px 30px 54px 2px rgba(245, 56, 56, 0.35);
  }

  .main {
    display: flex;
    flex-direction: column;
  }


  .main__welcome-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 130px;
  }
  .main__welcome-block-text {
    display: block;
    width: 555px;
    /* margin: 130px 736px 20px auto;     */
  }
  .main__welcome-block-text h1 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 500;
  }

  .main__welcome-block-text-bold-name-1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
  }
  .main__welcome-block-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 50px;
  }
  .main__welcome-block-text-bold-name-2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
  }

  .buttons-item--red {
    font-weight: 700;
    font-size: 16px;
    background-color: #F53838;
    color: #FFFFFF;
    border:  1px solid #F53838;
    border-radius: 10px;
    padding: 17px 77px;
    transition: 0.2s;
    cursor: pointer;
  }
  .buttons-item--red:hover{
    box-shadow: 0px 30px 54px 2px rgba(245, 56, 56, 0.35);
  }
  
  .main__welcome-block-img {
    display: block;
    margin-left: 91px;

  }

    
  .main__statistic {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 150px;
    box-shadow: 0px 100px 100px 0px rgba(13, 16, 37, 0.1);
  }
  
  .main__statistic-text-content {
    font-size: 20px;
    font-weight: 400;
    color: rgba(79, 86, 101, 1);
  }
  .main__statistic-text-block {
    display: block;
    margin-left: 35px;
  }
  .main__statistic-text-content {
    display: block;
  }
  .main__statistic-info {
    display: flex;    
  }

.main__features {
  display: flex;
  justify-content: space-between;  
}
.main__features-img {
  display: block;
  margin-left: 184px;
}

.main__features-description {
  display: block;
  margin-left: 110px;
}
  d
.main__features-description h1 {
  color: #0B132A;
  margin-right: 195px;
  font-size: 35px;
  font-weight: 500;
}

.main__features-description p {
  color: #4F5665;
  font-size: 16px;
  font-weight: 400;
  margin: auto 150px 20px 170px;
  width: 430px;
}

.main__features-description ul {
  list-style: none;
  list-style-image: url(../public/marker-features.svg);
  /* margin: auto auto 210px 200px; */
  color: #4F5665;
  ;
}